/* New Font Family */

/* Fuente Lato - Negrita */
@font-face {
    font-family: 'Lato';
    src: url('../Fonts/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Fuente Lato - Negrita Cursiva */
@font-face {
    font-family: 'Lato';
    src: url('../Fonts/Lato-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* Fuente Lato - Cursiva */
@font-face {
    font-family: 'Lato';
    src: url('../Fonts/Lato-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Fuente Lato - Ligera */
@font-face {
    font-family: 'Lato';
    src: url('../Fonts/Lato-Light.ttf') format('truetype');
    font-weight: 300;
    /* Puedes usar 300 para ligera */
    font-style: normal;
}

/* Fuente Lato - Ligera Cursiva */
@font-face {
    font-family: 'Lato';
    src: url('../Fonts/Lato-LightItalic.ttf') format('truetype');
    font-weight: 300;
    /* Puedes usar 300 para ligera */
    font-style: italic;
}

/* Fuente Lato - Regular */
@font-face {
    font-family: 'Lato';
    src: url('../Fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Fuente Lato - Delgada */
@font-face {
    font-family: 'Lato';
    src: url('../Fonts/Lato-Thin.ttf') format('truetype');
    font-weight: 100;
    /* Puedes usar 100 para delgada */
    font-style: normal;
}

/* Fuente Lato - Delgada Cursiva */
@font-face {
    font-family: 'Lato';
    src: url('../Fonts/Lato-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    /* Puedes usar 100 para delgada */
    font-style: italic;
}

body {
    margin: 0;
}

header,
footer,
nav {
    width: 100%;
    font-family: 'Lato', sans-serif;
    color: white;
}



body>nav {
    margin-inline: 30em;
}

header>div>div {
    margin-inline: 18em;
}

/* Header */

#headerUniversidad {

    display: block;
    background-color: #1867b7;
    padding: 0;
}

.container {
    width: 100%;
    overflow: hidden;
}

#tituloGeneral.row {
    display: flex;
    justify-content: space-between;
}

.headerTituloLogo {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.img {
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

.headerTituloLogo h1 {
    color: white;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 500;
    float: left;
}

.Menu {

    justify-content: space-between;
    margin-right: 60px;
}

.row ul {
    display: flex;

    font-size: 0.7em;
    list-style: none;
    padding: 0;
    /* margin-right: 10px; */
}

.row ul li:not(:first-child)::before {
    content: "\0020|\0020 ";
    /* margin: 0px 5px 0px 5px; */
    font-weight: bold;
    font-size: 1.5em;
}

.menu-row2 {
    text-align: right;
    /* margin: 0px 20px 0px; */
}

li a {

    text-decoration: none;
}

li a:hover {
    text-decoration: underline;

}

a {
    text-decoration: none;
    color: white;
}

/* nav */

.menuPrincipal {
    font-size: 0.6em;
    display: flex;
    color: black;
}

.menuPrincipal ul {
    list-style: none;
}

.menuPrincipal ul li {
    display: inline;
}

.menuPrincipal ul li a {
    padding: 5px;
    color: black;
}

.menuPrincipal ul li a:hover {
    text-decoration: none;
    color: #1867b7;
}


/* footer */

footer {
    bottom: 0;

}

footer>div>div {
    margin-inline: 18em;
}

.UPM_Domains {
    display: flex;
    justify-content: space-between;
    background-color: #1867b7;
    padding: 10px;
    height: 50px;
}

.UPM_Sites {
    align-self: center;
    display: flex;
    justify-content: space-around;
    width: 15%;
    height: auto;
}

.socialMedia {
    width: 20%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center
}

.socialMedia a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1867b7;
    background-color: white;
    padding: 0.3em;
    border-radius: 50%;
}

a {
    text-decoration: none;
    font-size: 1.6em;
}


.contact {
    background-color: #474747;
    padding: 0.5em;
    list-style: none;
    font-size: 0.5em;
    height: fit-content;
}

.ContactsSponsors {
    display: flex;
    justify-content: space-around;
}

.contactList {
    display: flex;

}

.contactList ul {
    list-style: none;
}

.sponsorsImages {
    text-align: right;
}



#copyr {
    font-size: 2em;
    text-align: center;
    align-self: flex-end;
}

/* ChatBot */

aside {
    position: fixed;
    bottom: 2em;
    right: 2em;
}

aside>button {
    border: none;
    float: right;
    cursor: pointer;
    background-color: transparent;
}

aside span {
    color: black;
}

aside>p {
    transform: translateX(200%);
    position: relative;
    right: 2em;
    font-size: 0.7em;
    padding: 5px;
    width: 120%;
    justify-self: center;
    border-radius: 10px;
    background-color: #4d4c4c;
    transition: all 0.3s ease-in;
}

aside:hover>p {
    display: block;
    /* Muestra el chat al hacer hover sobre el aside */
    transform: translateX(-10%);
}


/* FIN ChatBot */