body {
    font-family: 'Lato', sans-serif;
    margin: auto;
    color: white;
}

section#novedades {
    display: flex;
    justify-content: center;
    align-items: center;

}


/* CARRUSEL RONY  */
.carousel {
    width: 42%;
    margin: 0.3em;
}

.carousel-container {
    position: relative;
    overflow: hidden;
}

.carousel-item-container {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(59, 125, 238);
}


.carousel-item img {
    width: 70%;
    height: 100%;
}

.carousel-item p {
    text-align: center;
    font-size: 1.8vw;

}

/* Estilo para los indicadores de navegación */
.carousel-indicators-container {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 5%;
    right: 10%;
    max-width: 25%;
    min-width: 5%;


}

.carousel-indicator {
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 4px 4px 0px;
}

/* Estilo para el indicador activo */
.carousel-indicator.active {
    background-color: #fff;
    /* Cambia el fondo a blanco para el indicador activo */
}

/* Estilo para las flechas de navegación */
.carousel-control-container {
    position: absolute;
    bottom: 3%;
    right: 0;
    display: flex;
}

.carousel-control {
    font-size: 30px;
    cursor: pointer;
    margin: 0 10px;
    color: #fff;
    /* Cambia el color a blanco para las flechas */
}

/* FIN CARRUSEL RONY */

/* Novedades */

#noticias {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#noticias>div {
    background-color: #dbe0f0;
    margin: 0.1em 0.1em 0;
    padding: 6px;
    padding-right: 20px;
}

#noticias a span {
    float: left;
    margin-top: 1.125em;
    margin-right: .5em;
    font-size: .7em;
}

#noticias h2::before {
    content: "\2771 \0020";
    color: #00458f;
    padding: 5px;
}

#noticias h2 {

    font-size: medium;
    color: #00458f;
}

#noticias p {
    color: black;
}

/* Fin novedades */

/* Tips */

#tips {
    display: flex;
    justify-content: center;
}

#tips div {
    display: inline-flex;
    background-color: #e5e5e5;
    border: 1px solid black;
}

#tips>div>h5 {
    color: black;
    font-size: 1vw;
    font-weight: 500;align-self: flex-start;
}

#tips>div>h5:hover{
text-decoration: underline;
    
}

#tips span{
    height: 100px;
    width: 2px;
    position: absolute;
    top: 8px;
    right: 0px;
    background: none repeat scroll 0% 0% #B0ADAD;
}



/* Fin tips */